<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer" style ="background-color: #212529;">
    <div class="container">
        <div class="footer-content pt-26 pb-7 md-pb-7 sm-pt-26">
            <div class="row">
                                       
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row y-middle">
                   
                <div class="col-lg-12 col-md-4 text-right sm-text-center">

                        <p>
                       <a href="mailto:contact@benrec.com">contact@benrec.com</a>

                       <br>  © Copyright 2023. Tous droits réservés.
                        </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
