{% extends 'base.html.twig' %}

{% block title %}Sylove | connexion{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1 class ="d-flex justify-content-center mt-5">Formulaire de connexion</h1>
    {% if error %}
        <div class="alert arlet-danger">
           {{error.messageKey|trans(error.messageData, 'security') }} 
        </div>  
    {% endif %}
     {% for message in app.flashes('success') %}
        <div class = 'alert alert-success mt-4'>
            {{message}}
        </div> 
    {% endfor %}
    <form action="{{path('app_security')}}" method="post">
        <div class="form-group">
            <label for ="username" class ="form-label mt-4"> <h6>Adresse email</h6> </label>
            <input type="email" class="form-control" id="username" value="{{Last_username}}"
            name="_username" placeholder="example@sylove.com">
        </div>
        <div class="form-group">
            <label for ="password" class ="form-label mt-4"><h6>Mot de passe </h6></label>
            <input type="password" class="form-control" id="password"
            name="_password" placeholder="Votre mot de passe">
        </div>

        <button type ="submit" class= "btn btn-primary mt-4">Se connecter</button>
    </form>

    
</div>
{% endblock %}
